<div class="connect-footer">
  <span class="connect-footer__label">Connect</span>
  <ul class="connect-footer__links">
    <li><a href="https://x.com/cleanunicorn" target="_blank" rel="me noopener">X / Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/luca-daniel-5227267/" target="_blank" rel="me noopener">LinkedIn</a></li>
    <li><a href="https://github.com/cleanunicorn" target="_blank" rel="me noopener">GitHub</a></li>
    <li><a href="{{ "contact/" | absLangURL }}">Contact</a></li>
  </ul>
</div>
